.venv
__pycache__
DataPreprocessing/data/*/*all_items*
DataPreprocessing/data/*/*.txt
DataPreprocessing/notebooks/*_all_items.ipynb
DataPreprocessing/notebooks/*_all_items_special.ipynb
DataPreprocessing/notebooks/train_adaptation.csv
DataPreprocessing/notebooks/PreprocessingBoardGames.ipynb
